<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsnipp.CampusRecruitmentStudents">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.appsnipp.CampusRecruitmentStudents.SelectedApplicants_adapter"></activity>
        <activity android:name="com.appsnipp.CampusRecruitmentStudents.SelectedApplicantsactivity" />
        <activity android:name="com.appsnipp.CampusRecruitmentStudents.CompanyDetails" />
        <activity android:name="com.appsnipp.CampusRecruitmentStudents.ViewResume" />
        <activity android:name="com.appsnipp.CampusRecruitmentStudents.UploadPhoto" />
        <activity android:name="com.appsnipp.CampusRecruitmentStudents.ProfileActivity" />
        <activity android:name="com.appsnipp.CampusRecruitmentStudents.MainActivity" />
        <activity android:name="com.appsnipp.CampusRecruitmentStudents.RegisterActivity" />
        <activity android:name="com.appsnipp.CampusRecruitmentStudents.FillResumeDertails" />
        <activity android:name="com.appsnipp.CampusRecruitmentStudents.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>